@font-face{
  font-family: "Onest";
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/onest/Onest-Regular.woff2") format("woff2");
}
@font-face{
  font-family: "Onest";
  font-weight: 500;
  font-display: swap;
  src: url("/assets/fonts/onest/Onest-Medium.woff2") format("woff2");
}
@font-face{
  font-family: "Onest";
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/onest/Onest-SemiBold.woff2") format("woff2");
}
